body {
    font-family: 'Merriweather', serif;
    background-color: #f3f1e7;
    color: #2e2b20;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #355e3b;
    color: white;
    text-align: center;
    padding-bottom: 1em;
  }
  
  .banner {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  
  
  nav {
    margin-top: 0.5em;
  }
  
  nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #f0eada;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;
    margin: auto;
    padding: 2em;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    margin-top: 0.5em;
    font-size: 2.5em;
  }
  
  h2 {
    color: #3a4d2d;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    background-color: #d9d5c8;
    margin-top: 3em;
  }
  